main #countdown {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 4.6rem;
}

main p {
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--light-grey);
    line-height: 2.1rem;
    text-align: center;
}
  
main #countdown span {
    font-weight: 400;
    font-size: 7.2rem;
    color: var(--black);
}